---
export interface Props {
  title: string;
  description: string;
  github?: string;
  demo?: string;
  image: string;
}

const { github, demo, title, description, image } = Astro.props;
---

<div
  class="bg-light-purple p-10 rounded-xl flex flex-col gap-6 h-full justify-between"
>
  <a href={demo}>
    <img
      src={image}
      alt="project image"
      class="rounded-md hover:scale-105 transition-all"
    />
  </a>
  <h3 class="font-bold text-xl">{title}</h3>
  <p class="whitespace-wrap">
    {description}
  </p>
  <div class="flex gap-6">
    {
      demo !== undefined && (
        <a href={demo} class="hover:scale-125 transition-all">
          <img src="/demo.svg" />
        </a>
      )
    }
    {
      github !== undefined && (
        <a href={github} class="hover:scale-125 transition-all">
          <img src="/github.svg" />
        </a>
      )
    }
  </div>
</div>
<style></style>
